.keysContainer {
    display: flex;
}

/* buttons */
.actionButton {
    width: 100%;
    background-color: white;
    border: 1px solid grey;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.actionButton:hover {
    background-color: lightblue;
}

.numberButton {
    width: 33.33%;
    background-color: white;
    border: 1px solid grey;
    color: black;
    font-size: 32px;
}
.numberButton:hover {
    background-color: lightblue;
}

.operatorButton {
    width: 100%;
    background: darkred;
    color: white;
    font-size: 50px;
}
.operatorButton:hover {
    background-color: #630202;
}

button {
    height: 90px;
    outline: none;
}



/* button sections */
.actionSection {
    width: 100%;
}

.buttonSection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.operatorSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1.5;
}

.actionNumber {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 4;
}