.footerSection {
}

.iconSection{
    width: 90%;
    margin-left: 16%;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.iconSection img {
    width: 4%;
    height: 3%;
    padding: 10px;
    color: grey;
}